{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GesaTechnology</title>
    <link rel="stylesheet" href="{% static 'my_website/css/style.css' %}">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<body>
 <div class="container">
        <h1 class="main-title">MY RESUME</h1>

        <div class="row row-top">
            <div class="card profile-card">
                <div class="profile-img">
                    <img src="{% static 'my_website/images/photor1.jpg' %}" alt="Dennis">
                </div>
                <h3>Hi I'm Geofrey gaston!</h3>
                <p>I love coding, doing research and collaborating</p>
            </div>

            <div class="card job-card">
                <h2>My First Job as a Developer</h2>
                <hr>
                <p>
     Junior Software Developer with hands-on experience since 2023.
      Skilled in building websites and apps, solving problems,
       and learning new technologies fast. Passionate about delivering clean, functional code.
    </p>
                 <div class="icons">
  <a href="https://facebook.com/Gesa technology" target="_blank"><i class="fab fa-facebook"></i></a>
  <a href="https://instagram.com/GESATechnology" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://linkedin.com/in/Geofrey Gaston" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/geofrey gaston" target="_blank"><i class="fab fa-github"></i></a>
  <a href="mailto:geofreygaston9@gmail.com"><i class="fas fa-envelope"></i></a>
</div>
            </div>
        </div>

        <div class="row row-bottom">
            <div class="card half-card">
                <h2>My Experience as a Developer</h2>
    <p>Full stack developer at GesaTechnology company.</p>
    <p>Designed & built a full lab management system...</p.</p>
            </div>

            <div class="card half-card">
                <h3>What I Know</h3>
                <hr>
                <p>Python, Django, HTML/CSS, JavaScript/Jquery, React, Postgres, AWS and APIs.</p>
            </div>
        </div>
    </div>





<footer class="resume-footer">
        <div class="footer-column">
            <h2 class="footer-logo">GESATechnology</h2>
            <p class="location">Dar es Salaam, Tanzania</p>
            <div class="contact-info">
                <p><strong>Phone:</strong> +255 752965825</p>
                <p><strong>Email:</strong> geofreygaston9@gmail.com</p>
            </div>
        </div>

        <div class="footer-column">
            <h3>Useful this name in social media</h3>
            <ul class="footer-list">
                <li>instagram(GESATechnology)</li>
                <li>linkdin (Geofrey Gaston)</li>
                <li>Email (geofreygaston9@gmail.com)</li>
                <li>facebook (GESATechnology)</li>

            </ul>
        </div>

        <div class="footer-column">
            <h3>Our Services</h3>
            <ul class="footer-list">
                <li>Web Design</li>
                <li>Web Development</li>
                <li>Product Management</li>
                <li>Marketing</li>
                <li>Graphic Design</li>
            </ul>
        </div>
    </footer>



<!-- Link JS -->
    <script src="{% static 'my_website/js/script.js' %}"></script>
</body>
</html>
